@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

:root{
    --orange: #FFB742;
    --black : #212529;
    --font-Inter: 'Inter', sans-serif;
    --font-Roboto :'Roboto', sans-serif;
    --font-Work-Sans : 'Work Sans', sans-serif;
    font-size: 10px;
	size: 10px;
}
body{
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
body, ul{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.header__navigation{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-transform: capitalize;
}
.header__navigation a {
    color: white;
    font-weight: 600;
    transition: all 1s;
}

.header__navigation a:hover{
    color: var(--orange);
}
.header__navigation + div > a{
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0;
    border-radius: 50px;
}
.title-blok{
	text-align: center;
	text-transform: capitalize;
	margin-top: 12rem;
}
.row1{
	font-family: var(--font-Inter);
	font-weight: 700;
	color: #ffffff;
	font-size: 3.2rem;
	margin-bottom: 2rem;
}
.title-blok a:hover{
	color: var(--orange);
	text-decoration: underline;
}
.row1 a{
	color: #ffffff;
	text-transform: initial;
}
.row2{
	font-family: var(--font-Inter);
	font-weight: 700;
	font-size: 4.8rem;
	color: white;
	margin-bottom: 4rem;
}
.row3{
	font-family: var(--font-Inter);
	font-weight: 400;
	font-size: 2.4rem;
	color: #ffffff;
	margin-bottom: 3rem;
}
.avatar{
	width: 21rem;
	margin-bottom: 6rem;
}

.three-main-blocks{
	display: flex;
	justify-content: space-between;
}
.card-des{
	text-align: center;
}
.card-wrapper{
	width: 30%;
	height: 120px;
	background-color: #292B2E;
	align-items: center;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
	transition: all .5s;
}
.card-wrapper:hover{
	background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
	border-radius: 10px;
}
.card-text{
	font-family: var(--font-Inter);
	font-size: 3.2rem;
	font-weight: bold;
	color: var(--orange);
}
.card-small-text{
	font-family: var(--font-Inter);
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
}
.card-wrapper:hover .card-text, .card-wrapper:hover .card-small-text{
	color: var(--black);
}

.about-me{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20rem;
}
.my-photo{
	width: 50%;
}
.info-about-me{
	width: 50%;
	padding-left: 11rem;
	padding-right: 8rem;
	padding-bottom: 30rem;
}
.who-i-am-btn{
	width: 14.8rem;
	background-color: rgba(255, 255, 255, 0.08);
	color: var(--orange);
	text-transform: uppercase;
	border-radius: 5rem;
	font-weight: 600;
	border: 2px solid rgba(255, 255, 255, 0.08);
    display: inline-block;
    padding: 10px 0;
	text-align: center;
	font-size: 2rem;
}
.info-about-me a:hover{
	color: var(--orange);
	background-color: rgba(255, 255, 255, 0.08);
}
.title{
	color: #ffffff;
	font-family: var(--font-Roboto);
	font-weight: 700;
	text-transform: capitalize;
	font-size: 4.8rem;
	margin-top: 1rem;
}
.text{
	color: #D4D4D4;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 3rem;
	padding-bottom: 2rem;
}
.here-me{
	width: 14.8rem;
	color: var(--black);
	background-color: var(--orange);
	text-transform: capitalize;
	border-radius: 5rem;
	font-weight: 700;
	border: 2px solid rgba(255, 255, 255, 0.08);
    display: inline-block;
    padding: 10px 0;
	text-align: center;
	font-size: 1.8rem;
}
.skill{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
    margin: -5rem auto;
}
.skill-1{
	width: 50%;
	
}
.skill-1 a:hover{
	background-color: rgba(255, 255, 255, 0.08);
	color: var(--orange);
}
.skill-2{
	width: 50%;
	padding-bottom: 14rem;
	padding-left: 5rem;
}
.icon{
	width: 8rem;
	height: 8rem;
	display: inline-block;
	background-color: #383E45;
	border-radius: 1rem;
	text-align: center;
	padding-top: 1.8rem;
	box-sizing: border-box;
	margin-bottom: 1.6rem;
	margin-left: 1.6rem;
}
.skill-2 a:hover{
	background-color: rgba(255, 183, 66, 0.5);
}
.works{
	width: 90%;
	margin: 12rem auto 0;
	text-align: center;
	align-items: center;
}
.works-btn{
	background-color: rgba(255, 255, 255, 0.08);
	font-weight: 600;
	font-size: 2rem;
	color: var(--orange);
	text-transform: uppercase;
	border-radius: 5rem;
	width: 16rem;
	padding: 1rem 0;
	margin: 0 auto;
}
.works-nav{
	align-content: center;
	width: 67%;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0 auto;
}
.works-nav-list{
	text-transform: capitalize;
	list-style: none;
	
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.works-nav-list a{
	color: #ffffff;
	padding: .5rem 2rem;
	border-radius: .3rem;
}
.works-nav-list a:hover{
	background-color: var(--orange);
}
.card-works{
	display: flex;
	justify-content: space-between;
	width: 90%;
    margin: 0 auto;		
}
.card-works-img{
	transition: all 2s;
	width: 38rem;
}
.card-works img{
	margin: 1.5rem;
}

.review-title{
	color: #ffffff;
	font-family: var(--font-Roboto);
	font-weight: 700;
	font-size: 3.9rem;
}
.card-review{
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}
.card-review-gen{
	width: 37.9rem;
	background-color: #ffffff;
	border-radius: .8rem;
	padding: 5.2rem 5.8rem 2.9rem 3.1rem;
	margin: 9rem 2rem 25rem 2rem;
	
}
.star{
	width: 1.286rem;
	margin-left: .88rem;

}
.card-review-text{
	color: #000000;
	font-size: 2rem;
	font-weight: 400;
	line-height: 3.4rem;
}
.girl{
	display: flex;	
}
.girl-name{
	font-weight: 700;
	font-size: 2rem;
	color: #000000;
	white-space: pre;
	width: 13.8rem;
	padding-left: 2.1rem;
	line-height: 3.5rem;
	white-space: pre-wrap;	
}
.major{
	font-weight: 400;
	font-size: 1.6rem;
	margin-left: 9.4rem;
}
.footer{
	display: flex;
	background-color: #1C1C1C;
	box-sizing: border-box;
	width: 100%;
	align-items: top;
	justify-content: space-around;
	height: 47rem;
	padding-left: 5rem;
	padding-top: 14.8rem;
}
.footer-poles{
	list-style: none;
    width: 40%;
    justify-content: space-between;
}
.footer-1pole-name{
	color: var(--orange);
	font-weight: 700;
	font-size: 3.2rem;
}
.footer-1pole-list{
	color: #D4D4D4;
	font-family: var(--font-Work-Sans);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 3.2rem;
	width: 25.3rem;
	white-space: pre-wrap;

}
.footer-234pole-name{
	font-family: var(--font-Work-Sans);
	font-weight: 700;
	font-size: 2.2rem;
	text-decoration: none;	
}
.footer-234pole-name a{
	color: #F5FBF2;
}
.footer-pole-list{
	font-size: 1.8rem;
	font-weight: 500;
	font-family: var(--font-Work-Sans);	
}
.footer-pole-list a{
	color: #7B7B7B;
}
.footer-pole-4list{
	font-size: 1.8rem;
	font-weight: 500;
	font-family: var(--font-Work-Sans);
	white-space: pre-wrap;
	width: 32rem;
}
.footer-pole-4list a{
	color: #7B7B7B;	
}
.footer-pole-4list a:hover{
	color: #D4D4D4;
}
.footer-pole-list a:hover{
	color: #D4D4D4;
}
.footer-234pole-name a:hover{
	color: var(--orange);
}